/* MapPage.css */
.map-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  .sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4; /* Light gray for better contrast */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sidebar h2 {
    font-size: 18px;
    color: #555;
  }
  
  .map-wrapper {
    width: 60%;
    height: 100%;
  }
  
  .map-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  