/* Customize Leaflet map container */
.leaflet-container {
    background-color: #f5f5f5 !important;
}

/* Change the default marker icon size */
.leaflet-marker-icon {
    width: 30px !important;
    height: 30px !important;
}

/* Style popups */
.leaflet-popup-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

/*
.map{
    height: 100px;
    width: 100%;
}
    */
